---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if site.data.comments[page.slug] %}
  
    <p>
      <h2>{{ site.data.comments[page.slug] | size }} 条评论</h2>
	</p>
	
    <hr color="#d9d9d9">
    {% assign comments = site.data.comments[page.slug] | sort %}
    <p>
	  {% for comment in comments %}
        <br>
        {% unless comment[1].url == '' %}
          <legend><strong><a rel="external nofollow" href="{{ comment[1].url }}">{{ comment[1].name }}</a></strong><legend>
        {% else %}
          <legend><strong>{{ comment[1].name }}</strong><legend>
        {% endunless %}
        <em>{{ comment[1].date | date: "%B %d, %Y" }}</em>
        <p>{{ comment[1].message | markdownify }}</p>
        <hr color="#d9d9d9">
      {% endfor %}
	</p>
  {% endif %}
  
  <p>
  {%- include comments.html -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
